* {
  padding: 0;
  margin: 0;
}

.Header {
  display: flex;
  align-items: flex-start;
  grid-template-columns: 50% 70%;
  height: 200px;
  margin-bottom: 15px;
  padding: 20px;
}

.Headertitlebost {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  display: grid;
  align-items: center;
  font-size: 30px;
}

/* .HeaderNavList {
    margin: auto;
    border: 1px solid black;
    width: 500px;
    font-family: cursive;
    
    
} */

/* .styleohome {
    text-decoration: none;
    color          : rgb(14, 12, 12);
    font-family: cursive;
    margin: 15px;
    
} */

/* .p2 {
  margin-left: 60px;
  color: rgb(7, 6, 6);
  font-size: 60px;
  font-family: cursive;
  text-align: center;
} */

a {
  color: rgb(14, 12, 12);
  font-family: cursive;
  margin: px;
  font-weight: bold;
  font-size: 18px;
}

.HeaderNavList {
  width: 920px;
  margin: auto;
}

ul,
ol {
  list-style: none;
}

.unavbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: red;
}

.unavbar li a {
  background-color: #fff;
  text-align: center;
  color: black;
  text-decoration: none;
  padding: 10px 15px;
  display: block;
  font-size: 20px;
}

.unavbar > li > a {
  height: 90px;
}

.unavbar li a:hover {
  background-color: rgba(236, 215, 215, 0.774);
}

.unavbar > li {
  float: left;
}

.unavbar li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.unavbar li:hover > ul {
  display: block;
}

.Headertitlebost {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
 
}

.conlogin {
  display: flex;
  align-self: flex-end;
 
}

.logomenu {
  display: block;
  margin: 0 auto;
}
