


.Bodycont {
    padding           : 40px;
    display           : grid;
    grid-template-rows: repeat(3, 1fr);
    
}

.Bodycontitle {
    padding: 40px;

    font-family    : Impact, Charcoal, sans-serif;
    font-size      : 35px;
    color          : white;
    display        : grid;
    justify-content: center;
    align-items    : center;
    text-align     : center;
}

.BodycontText {
    width          : 800px;
    margin         : 0 auto;
    font-size      : 20px;
    color          : white;
    display        : grid;
    text-align     : center;
    justify-content: center;
    align-items    : center;
    align-content  : center;
}

.BodyButton {
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.ButtonFind {
    color        : #ffffff;
    background   : orange;
    height       : 60px;
    width        : 150px;
    border-radius: 2em;
    text-shadow  : 1px 1px #fff;
}

.ButtonFind:hover {

    background: orange;
    color     : #ffffff;
}

.image {
    text-align: center;
    width     : auto;

    overflow: hidden;
}


.containerh1 {
    padding-top   : 20px;
    padding-bottom: 20px;
    text-align    : center;
    font-family   : "Homer Simpson UI";
    font-size     : 22px;
    font-weight   : bold;
}

.containeretiqueteP {
    display: flex;

    justify-content: center;

}

.containeretiquetePp {
    padding    : 20px;
    width      : 750px;
    text-align : center;
    font       : condensed 120% sans-serif;
    line-height: 1.5em;
    font-family: "Homer Simpson UI";
}

.containerimagesCarnes {
    max-height: 600px;

    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items        : center;
    align-items          : center;
}

.containerimagesCarnesip {
    display: inline-grid;
}

.containerimagesCarnesipimg {
    border      : 2px solid black;
    margin-left : auto;
    margin-right: auto;
    height      : 270px;
    width       : 280px;

}

.containerimagesCarnesipEp {
    padding-top: 20px;
    text-align : center;
    font       : condensed 120% sans-serif;
    line-height: 1.5em;
    font-family: "Homer Simpson UI";
    font-weight: bold;
}



.containerconctato {
    height               : 200px;
    padding-top          : 20px;
    display              : grid;
    grid-template-columns: 35% 35% 35%;
    justify-items        : center;
    align-items          : center;
}

.containerconctatologo {
    display: inline-grid;

}

.containerconctatologoLp {
    display       : list-item;
    padding-top   : 20px;
    padding-bottom: 20px;
    text-align    : center;
    font          : condensed 120% sans-serif;
    line-height   : 1.5em;
    font-family   : "Homer Simpson UI";
    font-weight   : bold;
}

.containerconctatologolog {
    height: 60px;
}