* {
    padding: 0px;
    margin : 0px;
}

.generalraiz {

    width : 100%;
    border: 1px solid black;
}

.general {
    display        : grid;
    justify-content: center;
    align-content  : center;
    align-items    : center;
    height         : 720px;
  
}

.generalh1 {
    font-weight  : 12px;
    font         : oblique bold 80px cursive;
    font-size    : 30px;
    text-align   : center;
    margin-bottom: 20px;


}

.generalcontendiv {
    
    display        : grid;
    justify-content: center;
    background-color: rgba(231, 229, 225, 0);
}

.generalp {
    font     : oblique bold 80px cursive;
    font-size: 14px;

    margin: 20px;
}

.generalinput {
    margin    : 20px;
    padding   : 8px;
    text-align: center;
    display   : flex;
}

.generalbtn {
    border-radius   : 11px;
    width           : 90px;
    height          : 28px;
    background-color: rgba(218, 215, 213, 0.822);
    margin          : 20px;
    float           : none;
    text-align      : center;
    transform: translateX(52%);

}

.divlogo{
    display: flex;
    justify-content: center;
    align-content: center;
}