:root {
  --Style-font-famili: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  --Backgroudn-style-color:rgba(247, 242, 242, 0.555);

  
}

.pro{
    
    text-align: center;
    font: oblique bold 30px cursive;
    font-family: var(--Style-font-famili);
    font-size: 4em;
}

.tex{
    font: oblique bold 20px cursive;
    text-align: center;
}


.imagegroup{

display: flex;
  flex: 1.4;
  justify-content:center;
  align-items: center;

}


.imagegroups {
    width:300px;
    border-radius: 100px;
  }


  .contacto {
    height: 200px;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    justify-items: center;
    align-items: center;
  }
  
  .contactologo {
    display: inline-grid;
  }
  
  .conlogLp {
    display: list-item;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font: condensed 120% sans-serif;
    line-height: 1.5em;
    font-family: cursive;
    font-size: 18px;
    font-weight: bold;
  }

  .conlog {
    height: 60px;
  }
  