* {
    padding: 0px;
    margin : 0px;
}

.raizfooter {
    padding        : 15px 10px;
    display        : grid;
    justify-content: center;
   
}

.containerp {
    float      : left;
    width      : max-content;
    font-size  : 18px;
    color      : black;
    text-align : center;
    font-weight: bold;
    font-family: "Homer Simpson UI";
    margin-left: 27px;
}