:root {
    --Style-font-famili: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

    --Backgroudn-style-color:rgba(247, 242, 242, 0.555);

    
}


* {
    padding: 0px;
    margin : 0px;
}

.raiz {
    width     : 100%;
    max-height: 1200px;
    
}

.raiz .raiz-h1 {
    text-align : center;
    font-family: var(--Style-font-famili);
    margin     : 10px;
}

.raiz .raiz-h2 {
    text-align : left;
    font-family: var(--Style-font-famili);
    margin     : 30px;
}

.raiz .raiz-contend {
    height: auto;
    margin: 30px;
    
}

.raiz-contend form label {
    font-family: var(--Style-font-famili);
    font-weight: bold;
}

.contend-inputs {
    border-radius     : none;
    display           : block;
    margin            : 20px;
    -webkit-appearance: none;
    width             : 300px;
    padding: 6px;
    font-family: var(--Style-font-famili);
    background-color: var(--Backgroudn-style-color);
}

.raiz-contend .contend-buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
    padding: 12px;
}

.contend-buttons button{
    margin: 15px;
    padding: 6px;
    background-color: var(--Backgroudn-style-color);
    text-align: center;
    border-radius: 5px;
    font-family: var(--Style-font-famili);
    font-weight: bold;
}