
*{
    padding: 0px;
    margin: 0px;
}

.root{
    height: 722px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    
}

.root-card{
    width: 300;
    text-align: center;
}

